body{margin:0px; padding:0px;}
ul{margin:0px; padding:0px; list-style:none;}
a{text-decoration:none; color:#A5A5A5; font-family:'sky-bold';}
.navbar{
  background-color:#fff;
  box-shadow: 0px 2px 4px #777;
  margin: 0px;
  padding:3px 3px 15px 3px;
  min-height: 40px;

}
.navbar li{
  margin:10px 20px;
  float:right;
}
.navbar li a:hover {
  color:#0b8793;
}

.back{
  margin-top: 0px;
  height:400px;
  background:linear-gradient(to top left, #360033 0%, #0b8793 100%);
}
.text{
  cursor: pointer;
  text-align: center;
  position: relative;
  top:50px;
  color:white;
  left: 0px;
  font-size:175px;
  font-family: 'rawy-bold';
}
.link{
  cursor: pointer;
  text-align: center;
  position: relative;
  top:30px;
  color:white;
  left: 0px;
  font-size:45px;
  font-family: 'rawy-bold';
}
.trainees{
  display: table;
  margin: 0 auto;
}

.t-text{
  font-size: 25px;
  color:#0b8793;
  text-align: center;
  font-family: 'sky-bold';
}

.t-back1{
  margin-bottom: 10px;
  margin-left: 25px;
  float: right;
  width: 200px;
  height: 320px;
  background:linear-gradient(to top right, #4b7bec 0%, #2bcbba 100%);
  border-radius: 15px;
  box-shadow: 1px 1px 5px #777;
transition: width 1.5s;
}
.t-back1:hover{
  background:#0b8793;
  transition: 1.5s;
}
  .button{
    cursor: pointer;
  position: relative;
  color: #2bcbba;
  font-size: 13px;
  width: 150px;
  top:10%;
  right:22px;
  padding:10px;
  font-family:'sky-bold';
  border-radius: 20px;
  background:#fff;
  border: 0px;
  box-shadow: 1px 1px 5px #777;
  transition:  0.9s;
}
.button:hover{border-radius: 1px;transition: 0.9s;}
.t-back1>img{
  margin-top:30px;
  margin-right: 22px;
  width:150px;
}
.t-back2{
  margin-bottom: 10px;
  margin-left:25px;
  float: right;
  width: 200px;
  height: 320px;
  background: linear-gradient(to top right, #6c5ce7 0%, #a29bfe 100%);
  border-radius: 15px;
  box-shadow: 1px 1px 5px #777;
  transition: width 1.5s;
  }
  .t-back2:hover{
    background: #0b8793;
    transition: 1.5s;
  }
.t-back2>img{
  margin-top:30px;
  margin-right: 22px;
  width:150px;
}
.t-back3{
  margin-bottom: 10px;
  margin-left:25px;
  float: right;
  width: 200px;
  height: 320px;
  background: linear-gradient(to top right, #0984e3 0%, #74b9ff 100%);
  border-radius: 15px;
  box-shadow: 1px 1px 5px #777;
  transition: width 1.5s;
  }
  .t-back3:hover{
    background: #0b8793;
    transition: 1.5s;
  }
.t-back3>img{
  margin-top:30px;
  margin-right: 24px;
  width:150px;
}
.t-back4{
  margin-bottom: 10px;
  margin-left:25px;
  float: right;
  width: 200px;
  height: 320px;
  background: linear-gradient(to top right, #16a085 0%, #1abc9c 100%);
  border-radius: 15px;
  box-shadow: 1px 1px 5px #777;
  transition: width 1.5s;
  }
  .t-back4:hover{
    background: #0b8793;
    transition: 1.5s;
  }
.t-back4>img{
  margin-top:30px;
  margin-right: 10px;
  width:150px;
}
.c-text1{
  position: relative;
  margin-top: 20px;
  color:#0b8793;
  text-align: center;
}
.c-text2{
  font-size: 25px;
  color:#0b8793;
  text-align: center;
  font-family: 'sky-bold';
}

.pp{
  display: table;
  margin: 0 auto;
}
.c-text2{
  cursor: pointer;
  display:inline-block;
  margin-left: 30px;
}

.c-back1,.c-back2,.c-back3{
  background:linear-gradient(to top left, #360033 0%, #0b8793 100%);
  display: table;
}
.c-back11,.c-back22,.c-back33{margin-top: 20%; color:#0b8793}

.folter{
  margin-top: 320px;
  height: 250px;
  padding: 0px;
  margin-bottom: 0px;
  background:#efefef;
  box-shadow: 0px -2px 8px #777;
}
.f2{
  height: 50px;
  padding: 0px;
  background:linear-gradient(to top left, #360033 0%, #0b8793 100%);
  margin-top: 100px;
  outline: none;
}
.pf{
  font-size: 15px;
  color:#fff;
  padding: 10px;
  text-align: center;
  font-family: 'sky-bold';
}
.pf2{
  font-size: 20px;
  color:#360033;
  padding: 10px;
  text-align: center;
  font-family: 'sky-bold';
}
.img1{
  cursor: pointer;
  width: 60px;
  margin-left: 10%;
  margin-right:33%;
  filter: grayscale(100%);
  transition:  1s
}
.img1:hover{filter: grayscale(0%); width: 70px; transition: 1s;}
.img2{
  cursor: pointer;
  filter: grayscale(100%);
  transition:  1s;
  margin-left: 10%;
  width: 60px;
}
.img2:hover{
  filter: grayscale(0%); width: 70px; transition: 1s;
}
@media (max-width:1000px) {
.phone >li{
  display: none;
}
.text{font-size:120px; top:100px;}
.link{font-size:35px; top:100px;}
.t-back1{width: 150px; height: 250px;}
.t-back2{width: 150px; height: 250px;}
.t-back3{width: 150px; height: 250px;}
.t-back4{width: 150px; height: 250px;}
.t-back1>img{width:100px;}
.t-back2>img{width:100px;}
.t-back3>img{width:100px;}
.t-back4>img{width:100px;}
.button{width: 114px; font-size:10px;right:19px;}
.trainees{
margin-right: 12%;
margin-left: 12%
}
.img1{
  margin-right: 30%
}
.pf{
  font-size: 13px;
}
}